body {
  margin: 0;
  font-family:Roboto,  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --color:rgba(57,139,204);
  --color-opacity-1:rgba(57,139,204,0.9);
  --color-opacity-2:rgba(57,139,204,0.98);
  --color-opacity-3:rgba(57,139,204,0.98);
  --color-opacity-4:rgba(57,139,204,0.98);
  --white:rgba(236,236,236);
  --colorDark:rgba(48,103,147);


}

@media screen and (min-width:700px) {
*[class*=pcOnly]{
  display:initial;
}
*[class*=mobileOnly]{
  display:none !important;
}
}

@media screen and (max-width:700px) {
  .containerCtn{
    padding:16px !important;
  }

  
  *[class*=mobileOnly]{
    display:initial;
  }
  *[class*=pcOnly]{
    display:none !important;
  }
  }